/*Requirements

*Create a new file called "main.css"
*Add a link element to the head of your index.html file
*<link rel="stylesheet" href="main.css" type="text/css">
*Edit the main.css file
*add a declaration for each element in the body of your index.html file.
*add properties to style the background color of each element.
*add properties to style the border of each element.
*add properties to style the font of each element.
*View your index.html in the development server.
*Validate your index.html file.
*Validate your main.css file.
*Copy this list of requirements and paste it into your "main.css" file as a css comment. Put an asterisk in front of each one that you did.
*Upload to the production server with sftp.
*View your index.html in the production server.*/
h1{
	color:SeaGreen;
	font-size:42px;
	font-family:Georgia;
	border-style:hidden;
	border-width:8px;
	border-color:MediumAquaMarine;
	background-color:PaleTurquoise;
}
h2{
	color: LightSeaGreen;
	font-size:32px;
	font-family:Serif;
	border-style:hidden;
	border-width:6px;
	border-color:Cyan;
	background-color:Cornsilk;
}
h3{
	color: LightSeaGreen;
	font-size:32px;
	font-family:Serif;
	border-style:Solid;
	border-width:6px;
	border-color:Cyan;
	background-color:Cornsilk;
}
p{
	color:MediumSeaGreen;
	font-size:18px;
	font-family:Comic Sans MS;
	border-style:Double;
	border-width:6px;
	border-color:Aqua;
	background-color:Khaki;
}
footer{
	color:Teal;
	font-size:12px;
	font-family:Times New Roman;
	border-style:None None Solid Solid;
	border-width:4px 4px 5px 5px;
	border-color:White White Yellow Blue;
	background-color:Red;
}
